:root {
    --header-bg-color: #F2E9D8;
}

.header-cat-img {
    width: 415px;
    height: 766px;
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--header-bg-color);
}

header > .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 170px;
}

header > .content > .left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

header > .content > .left > h1 {
    color: #1d1c1c;
    font-weight: var(--text-bold);
    font-size: var(--text-large-size);
    line-height: 60px;
    white-space : pre-line;
}

header > .content > .left > p {
    color: #1d1c1c;
    font-weight: var(--text-normal);
    font-size: var(--text-small-size);
    line-height: 20px;
    white-space : pre-line;
}

@media all and (min-width:1280px) {
    header > article {
        width: calc(100% - var(--side-padding-pc) * 2);
        padding-left: var(--side-padding-pc);
        padding-right: var(--side-padding-pc);
    }
}

@media all and (min-width:1024px) {
    header > article {
        width: calc(100% - var(--side-padding-laptop) * 2);
        padding-left: var(--side-padding-laptop);
        padding-right: var(--side-padding-laptop);
    }
}

@media all and (max-width: 430px) {
    header > article {
        width: calc(100% - var(--side-padding-mb) * 2);
        padding-left: var(--side-padding-mb);
        padding-right: var(--side-padding-mb);
    }

    header > .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    header > .content > .left {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    header > .content > .left > h1 {
        color: #1d1c1c;
        font-weight: var(--text-bold);
        font-size: var(--text-normal-size);
        line-height: 30px;
        white-space : pre-line;
        text-align: center;
    }

    header > .content > .left > p {
        color: #1d1c1c;
        font-weight: var(--text-normal);
        font-size: var(--text-x-small-size);
        line-height: 18px;
        white-space : pre-line;
        text-align: center;
    }

    .button-wrap {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .header-cat-img {
        width: 197px;
        height: 422px;
    }
}
