.common-button {
    padding: 15px 33px;
    background-color: var(--primary-color);
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    width: fit-content;
}

.common-button > span {
    font-size: var(--text-small-size);
    font-weight: var(--text-bold);
    color: #fff;
}

.circle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    border-radius: 50px;
    background-color: var(--primary-sub-color);
    width: fit-content;
    border: none;
    outline: none;
    cursor: pointer;
}

@media all and (max-width: 430px) {
    .common-button > span {
        font-size: var(--text-x-small-size);
        font-weight: var(--text-bold);
        color: #fff;
    }
}