:root {
    --text-xx-small-size: 12px;
    --text-x-small-size: 14px;
    --text-small-size: 16px;
    --text-normal-size: 24px;
    --text-medium-size: 36px;
    --text-large-size: 48px;
    --text-xlarge: 72px;
    --text-xxlarge: 96px;

    --text-bold: 700;
    --text-semi-bold: 500;
    --text-normal: 400;

    --primary-color: #D97652;
    --primary-sub-color: #F29D52;
    --primary-gray-color: #606367;
}

* {
    padding: 0;
    margin: 0;
}