
.cat-img-box1 {
    background-image: url("../../assets/png/img_cat1.jpeg");
    width: 660px;
    height: 390px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media all and (max-width: 430px) {
    .cat-img-box1 {
        background-image: url("../../assets/png/img_cat1.jpeg");
        width: 326px;
        height: 190px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}