#modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: var(--zindex-modal-backdrop);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-panel {
    padding: 24px;
    background-color: white;
    border-radius: 1rem;
    width: fit-content;
}
