
.button-primary {
    padding: 21px 49px;
    width: fit-content;
    background-color: var(--primary-yellow-color);
    border-radius: 56px;
    cursor: pointer;
}

.button-primary > span {
    font-weight: 700;
    font-size: var(--text-normal-size);
    line-height: 24px;
    color: var(--primary-color-bg);
}

.button-secondary {
    padding: 21px 49px;
    width: fit-content;
    background-color: var(--color-white);
    border-radius: 56px;
    cursor: pointer;
}

.button-secondary > span {
    font-weight: 700;
    font-size: var(--text-normal-size);
    line-height: 24px;
    color: var(--primary-color-bg);
}