@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

:root {
    --primary-color-bg: #5B2386;

    --logo-padding: 120px;
    --logo-area-height: 265px;
    --logo-area-half-height: 132px;

    --quote-bg-img: url("../assets/svg/ic_quotes.svg");

    --text-small-size: 14px;
    --text-normal-size: 24px;
    --text-medium-size: 36px;
    --text-big-size: 48px;
}

* {
    margin: 0;
    padding: 0;
    width: 100%;
}

@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "GmarketSansMedium", "OTEnjoystoriesBA", "Noto Sans KR", serif;
    background-color: var(--primary-color-bg);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    padding-bottom: 70px;
    gap: 20px;
}

footer p {
    font-family: "Noto Sans KR", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    white-space: pre-line;
}