:root {
    --primary-color-bg: #5B2386;

    --logo-padding: 120px;
    --logo-area-height: 265px;
    --logo-area-half-height: 132px;

    --quote-bg-img: url("../assets/svg/ic_quotes.svg");
}

* {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: var(--primary-color-bg);
}