
.root-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.root-layout .content-layout {
    width: 70%;
}

.brand-ment1-layout {
    width: 100%;
    margin-top: 46px;
    margin-bottom: 78px;
}

.brand-ment2-root-layout {
    margin-top: 78px;
    margin-bottom: 102px;
    min-width: 493px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-ment2-bg-layout {
    height: fit-content;
    background-image: var(--quote-bg-img);
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 85px;
    min-width: 493px;
    background-position-y: 20px;
}

/* 훈련시간 테스트 폼 레이아웃 */
.test-form-layout {
    display: flex;
    flex-direction: column;
    gap: 115px;
    align-items: center;
}

.test-form-layout > .test-form-items-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 27px;
    align-items: center;
}

.test-form-items-layout  > .test-form-item {
    gap: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wrap-test-form-button-submit-layout {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* 115px 만큼의 패딩 - 17px 의 gap*/
    padding-top: calc(115px - 17px);
}