
.logo-layout {
    margin-top: var(--logo-padding);
    display: flex;
    flex-direction: column;
    position: relative;
    height: 265px;
}

.logo-img-floating-bg {
    position: absolute;
    z-index: 1;

    /* align center => 50% - image-width / 2*/
    left: calc(50% - 282px / 2)
}

.logo-img-floating {
    position: absolute;
    z-index: 2;
    /* align center => 50% - image-width / 2 - 가중치px */
    left: calc(50% - 564px / 2 - 20px);
    top: calc(var(--logo-area-height) / 2 - 65px);
}

.logo-img-floating > img {
    width: 564px;
    height: 112px;
}

.logo-img-floating-bg > img {
    width: 261px;
    height: 265px;
}