
.brand-ment1  {
    font-weight: 700;
    font-size: 36px;
    line-height: 39px;
    text-align: center;
    color: #F5DF4D;
}

.brand-ment2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    white-space: pre-line;
}

.brand-ment2 > b {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}

.test-form-item-text {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    width: fit-content;
}